body {
	font-family: 'Trirong', serif;
  background-color: black;
  color: white;
  }

  .container {

  	max-width: 900px;
  	max-height: 824px;
  }

.typed-cursor {
  display: none;
  }

  img {
  	height: 80%;
  	width: 100%;
  }

  .box-icon {
	height: 80px;
  	text-align: center;
  	margin-top: -95px;
  	
  }

  .icon {
	border-radius: 25%;
  	height: 105px;
  	width: 105px;
  	
  }

  .icon:hover {
  	margin-top: -95px;
  }

  h1 {

  	text-align: center;
  }