body {
	font-family: 'Trirong', serif;
  background-color: #212121;
  color: white;
  }

  .header {
  	height: 200px;

  }

  .container {
  	background-color: black;
  	border-radius: 2%;

  	max-width: 95%;
  	max-height: 824px;
  }

.typed-cursor {
  display: none;
  }

  img {
  	height: 80%;
  	width: 100%;
  }

  .first {
  	/*margin-bottom: -45px;*/
  }
  .images {
  	/*display: inline-block;*/
  }

  .face {
  	margin-top: -50px;
  }

  /*.box-icon {
	height: 100px;

  	/*text-align: center;*/*/
 
  	
  }

  /*.icon*/
  #image {
  	background-color: yellow;
  	width: 50%;
  	height: 25%;
	border-radius: 25%;
	opacity: 0.3;
  	/*height: 100px;
  	width: 100px;*/
  	
  	
  }

  .icon:hover {
  	/*margin-top: -20px;*/
  }

  h1 {

  	text-align: center;
  }