body {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background-color: black;
  color: white;
  }

.typed-cursor {
  display: none;
  }

  img {
  	height: 400px;
  	width: 200px;
  }

  .icon {

  	height: 35px;
  	width: 35px;
  }